<html>
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Wave container build data">
        <title>Wave container build notification</title>
    </head>
<body>
<div style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 30px; max-width: 800px; margin: 0 auto;">

    <h1>Wave container build completion</h1>

    {{#if build_success}}
    <div style="color: #3c763d; background-color: #dff0d8; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; color: inherit;">
            Container build completed successfully!
        </h4>
    </div>
    {{else}}
    <div style="color: #a94442; background-color: #f2dede; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; color: inherit;">
            Container build failed
        </h4>
    </div>
    {{/if}}

    <h3>Summary</h3>
    <table cellpadding="4" >
        <tr>
            <td>Build ID</td>
            <td>{{build_id}}</td>
        </tr>

        <tr>
            <td>User</td>
            <td>{{build_user}}</td>
        </tr>

        <tr>
            <td>Container image</td>
            <td>{{build_image}}</td>
        </tr>

        <tr>
            <td>Platform</td>
            <td>{{build_platform}}</td>
        </tr>

        <tr>
            <td>Build time</td>
            <td>{{build_time}}</td>
        </tr>

        <tr>
            <td>Duration</td>
            <td>{{build_duration}}</td>
        </tr>

        <tr>
            <td>Exit status</td>
            <td>{{build_exit_status}}</td>
        </tr>
    {{#if scan_url}}
        <tr>
            <td>Security</td>
            <td><a href="{{scan_url}}">Image scan report</a></td>
        </tr>
    {{/if}}
    </table>

    <h3>Docker file</h3>
    <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">{{build_dockerfile}}</pre>

    {{#if build_condafile}}
    <h3>Conda file</h3>
    <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">{{build_condafile}}</pre>
    {{/if}}

    {{#if build_spackfile}}
    <h3>Spack file</h3>
    <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">{{build_spackfile}}</pre>
    {{/if}}

    <div class="footer" style="clear:both;width:100%;">
        <hr class="footer-hr" style="height:0;overflow:visible;margin-top:30px;border:0;border-top:1px solid #eee;color:#999999;font-size:12px;line-height:18px;margin-bottom:30px;">
        <img style="float:right" src="/assets/seqera-logo.png">
        <p class="footer-text" style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-weight:normal;margin:0;margin-bottom:15px;color:#999999;font-size:12px;line-height:18px;">
            <a href="{{server_url}}">{{server_url}}</a><br>
            Seqera Labs<br>
            Carrer de Marià Aguiló, 28<br>
            08005 Barcelona<br>
        </p>
    </div>

</div>

</body>
</html>
