<html>
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Wave container request data">
        <title>Wave container</title>
        <style type="text/css">
                {{styles}}
        </style>
    </head>
<body>
<div style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 30px; max-width: 800px; margin: 0 auto;">
    <img src="/assets/wave-logo.svg" style="display: block; margin: 0 auto; margin-bottom: 24px" alt="Wave">
    <h1>Wave container</h1>
    <!-- Request info -->
    <h3>Request</h3>
    <table cellpadding="4" >
        <tr>
            <td>Token</td>
            <td>{{request_token}}</td>
        </tr>
        <tr>
            <td>Container image</td>
            <td>{{request_container_image}}</td>
        </tr>
        <tr>
            <td>Platform</td>
            <td>{{request_contaiener_platform}}</td>
        </tr>
        <tr>
            <td>Fingerprint</td>
            <td>{{request_fingerprint}}</td>
        </tr>
        <tr>
            <td>Timestamp</td>
            <td>{{request_timestamp}}</td>
        </tr>

        <tr>
            <td>Expiration</td>
            <td>{{request_expiration}}</td>
        </tr>
    </table>

    <!-- container info -->
    <h3>Container info</h3>
    <table cellpadding="4" >
        <tr>
            <td>Source image</td>
            <td>{{source_container_image}}</td>
        </tr>
        <tr>
            <td>Source digest</td>
            <td>{{source_container_digest}}</td>
        </tr>
        <tr>
            <td>Wave image</td>
            <td>{{wave_container_image}}</td>
        </tr>
        <tr>
            <td>Wave digest</td>
            <td>{{wave_container_digest}}</td>
        </tr>
    </table>

    {{#if request_container_config}}
        <h3>Container config</h3>
        <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">
            {{request_container_config}}
        </pre>
    {{/if}}

    <!-- build info -->
    {{#if build_container_file}}
        <h3>Docker file</h3>
        <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">
            {{build_container_file}}
        </pre>

        <h3>Conda file</h3>
        <pre style="white-space: pre-wrap; overflow: visible; background-color: #ededed; padding: 15px; border-radius: 4px; margin-bottom:30px;">
            {{build_conda_file}}
        </pre>

        <table cellpadding="4" >
            <tr>
                <td>Build repository</td>
                <td>{{build_repository}}</td>
            </tr>
            <tr>
                <td>Cache repository</td>
                <td>{{build_cache_repository}}</td>
            </tr>
        </table>
    {{/if}}


    <!-- Tower & user info -->
    {{#if tower_user_id}}
    <h3>Tower &amp; User info</h3>
    <table cellpadding="4" >
        <tr>
            <td>User Id</td>
            <td>{{tower_user_id}}</td>
        </tr>
        <tr>
            <td>User name</td>
            <td>{{tower_user_name}}</td>
        </tr>
        <tr>
            <td>User email</td>
            <td>{{tower_user_email}}</td>
        </tr>
        <tr>
            <td>Workspace Id</td>
            <td>{{tower_workspace_id}}</td>
        </tr>
        <tr>
            <td>Endpoint</td>
            <td>{{tower_endpoint}}</td>
        </tr>
    </table>
    {{/if}}

    <div class="footer" style="clear:both;width:100%;">
        <table class="footer-container" cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <!-- Footer Body -->
                <td class="footer-body" style="padding: 16px; vertical-align: top;">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td>&copy Wave by Seqera</td>
                        </tr>
                        <tr>
                            <td>Carrer de Marià Aguiló,  28</td>
                        </tr>
                        <tr>
                            <td>08005 Barcelona</td>
                        </tr>
                        <tr>
                            <td><a href="https://seqera.io/">https://seqera.io/</a></td>
                        </tr>
                        <tr>
                            <td class="footer-body__social">
                                <a href="https://github.com/seqeralabs"><img src="/assets/github-icon.svg" alt="github"></a>
                                <a href="https://www.linkedin.com/company/14065390/"><img src="/assets/linkedin-icon.svg" alt="linkedin"></a>
                                <a href="https://twitter.com/seqeralabs"><img src="/assets/x-icon.svg" alt="twitter"></a>
                                <a href="https://www.youtube.com/@seqeralabs"><img src="/assets/youtube-icon.svg" alt="youtube"></a>
                            </td>
                        </tr>
                    </table>
                </td>

                <!-- Footer Logo -->
                <td class="footer-logo">
                    <img src="/assets/seqera-icon.svg" style="display: block; margin: 0 auto;">
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>
