<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wave container inspection">
    <title>Wave container inspect</title>
    <style>
        table {
            width: 100%;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
            border-collapse: collapse;
        }
        td {
            padding: 5px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 30px; max-width: 1200px; margin: 0 auto;">

    <div>
        <img style="float:left; margin-top: 5px; margin-right: 10px; width: 30px;" src="/assets/wave-logo.png">
        <h1>Wave container inspection</h1>
    </div>
    <div style="min-height: 60vh">
        {{#if error_message}}
            <div style="color: black; background-color: #d3d3d3; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
                <h4 style="margin-top:0; font-weight: normal">
                    {{error_message}}
                </h4>
            </div>
        {{else}}
        {{/if}}
        <h3>Container Specification</h3>
        <table>
            <tr>
                <td>Image Name</td>
                <td>{{imageName}}</td>
            </tr>
            <tr>
                <td>Reference (tag)</td>
                <td>{{reference}}</td>
            </tr>
            <tr>
                <td>Digest</td>
                <td>{{digest}}</td>
            </tr>
            <tr>
                <td>Registry</td>
                <td>{{registry}}</td>
            </tr>
            <tr>
                <td>Host Name</td>
                <td>{{hostName}}</td>
            </tr>
            <tr>
                <td>Config</td>
                <td><pre>{{config}}</pre></td>
            </tr>
            <tr>
                <td>Manifest</td>
                <td><pre>{{manifest}}</pre></td>
            </tr>
        </table>
    </div>
    <div class="footer" style="clear:both;width:100%;">
        <hr class="footer-hr" style="height:0;overflow:visible;margin-top:30px;border:0;border-top:1px solid #eee;color:#999999;font-size:12px;line-height:18px;margin-bottom:30px;">
        <img style="float:right; width: 150px;" src="/assets/seqera-logo.png">
        <p class="footer-text" style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-weight:normal;margin:0;margin-bottom:15px;color:#999999;font-size:12px;line-height:18px;">
            <a href="{{server_url}}">{{server_url}}</a><br>
            Seqera<br>
            Carrer de Marià Aguiló, 28<br>
            08005 Barcelona<br>
        </p>
    </div>
</div>
</body>
</html>
