<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wave container inspect">
    <title>Wave container inspect</title>
    <style>
        table {
            width: 100%;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
            border-collapse: collapse;
        }
        td {
            padding: 5px;
            border: 1px solid #ddd;
        }

        #jsonTree ul {
            list-style: none;
            margin: 5px;
            padding: 0;
            cursor: default;
        }

        #jsonTree li {
            list-style: none;
            padding-left: 14px;
        }

        #jsonTree li.collapse {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADxSURBVHjafFBLaoRAFKzE9gfiFTyEF8gcYEAIZOUJcpdsA24CA+6yGGEO4NqtR3AlBHdG2h+mX82HyWYePLr6VTVV/Z6yLHuxbbv0PA+u68JxHEhN04RxHKG1xjzPO7UsSxnHMcmu60hKBUGAKIqIq6oqlVHLCw6GYUCSJMRFUSAMQ2LhlVi0bUsrDlfcrJumYRTBSqz6vkeappiMSF+EyesbHAvI85xxKJT++cW/0uc0uPIUruuK78MniX36zvOUn+9KKQqfxd+sB77vM7RkZBssM+GY8f7X27bh+PVBbFnWbc5fmz3u6rp+uHDR/AkwAGqHn+ZepzDiAAAAAElFTkSuQmCC);
            background-repeat: no-repeat;
            background-position: 0 5px;
            cursor: pointer;
        }

        #jsonTree li.expanded {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAACYSURBVHjajJA7CoMhEIQ3sD7u4wXy38NzBeyFXCGdta0HSG2XxsIn5F9DOiMZ2Go+mXEuxpgrY8xJKUEIAZxzINVaoZQCOWdorR3Ye3dKKdjJe+/wpOnFFiQfKSLGOKNWoirkIfVIKYHWeglaa2fXCdI9X+vYrz/BMQY87rcliIgfkPLPeeb90uz496/PHY8QwnZwYt4CDACMsHBjtyPgCAAAAABJRU5ErkJggg==);
        }
    </style>
</head>
<body>
<div style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 30px; max-width: 1200px; margin: 0 auto;">

    <div>
        <img style="float:left; margin-top: 5px; margin-right: 10px; width: 30px;" src="/assets/wave-logo.png">
        <h1>Wave container inspect</h1>
    </div>
    <div style="min-height: 60vh">
        {{#if error_message}}
            <div style="color: black; background-color: #d3d3d3; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
                <h4 style="margin-top:0; font-weight: normal">
                    {{error_message}}
                </h4>
            </div>
        {{else}}
        {{/if}}
        <h3>Container Specification</h3>
        <table>
            <tr>
                <td>Image Name</td>
                <td>{{imageName}}</td>
            </tr>
            <tr>
                <td>Reference (tag)</td>
                <td>{{reference}}</td>
            </tr>
            <tr>
                <td>Digest</td>
                <td>{{digest}}</td>
            </tr>
            <tr>
                <td>Registry</td>
                <td>{{registry}}</td>
            </tr>
            <tr>
                <td>Host Name</td>
                <td>{{hostName}}</td>
            </tr>
            <tr>
                <td>Config</td>
                <td><div id="config-div"></div></td>
            </tr>
            <tr>
                <td>Manifest</td>
                <td><div id="manifest-div"></div></td>
            </tr>
        </table>
    </div>
    <div class="footer" style="clear:both;width:100%;">
        <hr class="footer-hr" style="height:0;overflow:visible;margin-top:30px;border:0;border-top:1px solid #eee;color:#999999;font-size:12px;line-height:18px;margin-bottom:30px;">
        <img style="float:right; width: 150px;" src="/assets/seqera-logo.png">
        <p class="footer-text" style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-weight:normal;margin:0;margin-bottom:15px;color:#999999;font-size:12px;line-height:18px;">
            <a href="{{server_url}}">{{server_url}}</a><br>
            Seqera<br>
            Carrer de Marià Aguiló, 28<br>
            08005 Barcelona<br>
        </p>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {{{config}}}
        const manifest = {{{manifest}}}

        const treeBuilder = new JsonTreeBuilder();

        const tree_config = treeBuilder.build(config);
        $('div#config-div').append(tree_config);

        const tree_manifest = treeBuilder.build(manifest);
        $('div#manifest-div').append(tree_manifest);
    });

    function JsonTreeBuilder() {

        this.build = function (jsonDoc) {
            const tree = generateTree(jsonDoc);
            activateTree(tree);

            return $('<div id="jsonTree"></div>').append(tree);
        };

        const generateTree = function (data) {
            if (typeof (data) == 'object' && data != null) {
                const ul = $("<ul>");
                for (const i in data) {
                    const li = $("<li>");
                    ul.append(li.text(i).append(generateTree(data[i])));
                }
                return ul;
            } else {
                const v = (data === undefined) ? "[empty]" : data;
                return document.createTextNode(" : " + v);
            }
        };

        const activateTree = function (tree) {
            $('li > ul', tree).each(function () {
                const innerUlContent = $(this);
                const parent = innerUlContent.parent("li");
                parent.addClass('collapse');
                parent.click(function () {
                    $(this).toggleClass('expanded');
                    innerUlContent.slideToggle('fast');
                });

                innerUlContent.click(function (event) {
                    event.stopPropagation();
                });
            });

            $('ul', tree).hide();
        };
    }
</script>
</body>
</html>
