<html>
<head>
    <head>
{{#if should_refresh}}
        <meta http-equiv="refresh" content="5">
{{/if}}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Wave container security scan">
        <title>Wave container scan notification</title>
        <style type="text/css">
        {{styles}}
        </style>
    </head>
<body>
<div style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 30px; max-width: 800px; margin: 0 auto;">
    <img src="/assets/wave-logo.svg" style="display: block; margin: 0 auto; margin-bottom: 24px" alt="Wave">
    <h1>Wave container security scan</h1>
<div style="min-height: 60vh">
{{#if scan_exist}}
    {{#if scan_completed}}
    {{#if scan_failed}}
    <div style="color: #e00404; background-color: #ffe4e2; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; color: inherit;">
            Unable to complete the container security scan successfully
        </h4>
    </div>
    {{else}}
    <div style="color: #3c763d; background-color: #dff0d8; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; color: inherit;">
            Container security scan completed
        </h4>
    </div>
    {{/if}}
    <h3>Summary</h3>

    <table cellpadding="4" >
        <tr>
            <td>Scan ID</td>
            <td>{{scan_id}}</td>
        </tr>
        <tr>
            <td>Build ID</td>
            <td><a href="{{build_url}}">{{build_id}}</a></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{scan_status}}</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{scan_time}}</td>
        </tr>

        <tr>
            <td>Duration</td>
            <td>{{scan_duration}}</td>
        </tr>

        {{#if scan_succeeded}}
        <tr>
            <td colspan="2">
                {{#if vulnerabilities.length}}
                    <h4>Vulnerabilities</h4>
                    <style>
                        .bordered-table { border-collapse: collapse; }
                        .bordered-table, .bordered-table th, .bordered-table td { border: 1px solid black;}
                        .nowrap { white-space: nowrap; }
                    </style>
                    <table class="bordered-table" style='font-size: 0.8em'>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Severity</th>
                            <th>Library</th>
                            <th>Version</th>
                            <th>Fixed Version</th>
                            <th>Title</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each vulnerabilities}}
                                <tr>
                                    <td class='nowrap'><a href="{{this.primaryUrl}}" target="_blank">{{this.id}}</a></td>
                                    <td>{{this.severity}}</td>
                                    <td>{{this.pkgName}}</td>
                                    <td>{{this.installedVersion}}</td>
                                    <td>{{this.fixedVersion}}</td>
                                    <td>{{this.title}}<br/></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                   No vulnerabilities found
                {{/if}}
        </td>
        </tr>
        {{/if}}
    </table>
    {{else}}
    {{! scan is not completed, show a spinning icon }}
    <style>
    .lds-dual-ring {
      display: inline-block;
      width: 50px;
      height: 30px;
    }
    .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #3c763d;
      border-color: #3c763d transparent #3c763d transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    </style>
    <div style="color: #3c763d; background-color: #dff0d8; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; color: inherit; font-weight: normal">
            <div class="lds-dual-ring"></div> Container security scan in progress
        </h4>
    </div>
    {{/if}}
{{else}}
{{! scan not exist, show an message using a grey box }}
    <div style="color: black; background-color: #d3d3d3; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; font-weight: normal">
            {{error_message}}
        </h4>
    </div>
{{/if}}
</div>

<div class="footer" style="clear:both;width:100%;">
    <table class="footer-container" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <!-- Footer Body -->
            <td class="footer-body" style="padding: 16px; vertical-align: top;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>&copy Wave by Seqera</td>
                    </tr>
                    <tr>
                        <td>Carrer de Marià Aguiló,  28</td>
                    </tr>
                    <tr>
                        <td>08005 Barcelona</td>
                    </tr>
                    <tr>
                        <td><a href="https://seqera.io/">https://seqera.io/</a></td>
                    </tr>
                    <tr>
                        <td class="footer-body__social">
                            <a href="https://github.com/seqeralabs"><img src="/assets/github-icon.svg" alt="github"></a>
                            <a href="https://www.linkedin.com/company/14065390/"><img src="/assets/linkedin-icon.svg" alt="linkedin"></a>
                            <a href="https://twitter.com/seqeralabs"><img src="/assets/x-icon.svg" alt="twitter"></a>
                            <a href="https://www.youtube.com/@seqeralabs"><img src="/assets/youtube-icon.svg" alt="youtube"></a>
                        </td>
                    </tr>
                </table>
            </td>

            <!-- Footer Logo -->
            <td class="footer-logo">
                <img src="/assets/seqera-icon.svg" style="display: block; margin: 0 auto;">
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>
