<html>
<head>
    <head>

        <meta http-equiv="refresh" content="5">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Wave container scan notification email">
        <title>Wave container scan notification</title>
    </head>
<body>
<div style="font-family:'-apple-system', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 30px; max-width: 800px; margin: 0 auto;">

    <h1>Wave container security scan</h1>
{{#if completed}}
        <div style="color: #3c763d; background-color: #dff0d8; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
            <h4 style="margin-top:0; color: inherit;">
                Container scan completed
            </h4>
        </div>
    <h3>Summary</h3>

    <table cellpadding="4" >
        <tr>
            <td>Request ID</td>
            <td>{{build_id}}</td>
        </tr>
    {{#if scan_success}}
        <tr>
            <td>Scan Status</td>
            <td>Successful</td>
        </tr>
    {{else}}
        <tr>
            <td>Scan Status</td>
            <td>Failed</td>
        </tr>
    {{/if}}
        <tr>
            <td>Build time</td>
            <td>{{scan_time}}</td>
        </tr>

        <tr>
            <td>Duration</td>
            <td>{{scan_duration}}</td>
        </tr>

        <tr>
            <td colspan="2">
        <h4>Scan Result</h4>
                {{#if vulnerabilities.length}}
                    <style>
                        .bordered-table {
                            border-collapse: collapse;
                        }

                        .bordered-table, .bordered-table th, .bordered-table td {
                            border: 1px solid black;
                        }
                    </style>
                    <table class="bordered-table">
                        <thead>
                        <tr>
                            <th>Library</th>
                            <th>Vulnerability ID</th>
                            <th>Severity</th>
                            <th>Installed Version</th>
                            <th>Fixed Version</th>
                            <th>Title</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each vulnerabilities}}
                                <tr>
                                    <td>{{this.pkgName}}</td>
                                    <td>{{this.vulnerabilityId}}</td>
                                    <td>{{this.severity}}</td>
                                    <td>{{this.installedVersion}}</td>
                                    <td>{{this.fixedVersion}}</td>
                                    <td>{{title}}<br/><a href="{{this.primaryUrl}}">{{this.primaryUrl}}</a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{else}}
                    <tr>
                        <td colspan="3">No vulnerabilities found</td>
                    </tr>
                {{/if}}
        </td>
        </tr>
    </table>
{{else}}
    <div style="color: #3c763d; background-color: #dff0d8; padding: 15px; border: 1px solid transparent; border-radius: 4px;">
        <h4 style="margin-top:0; color: inherit;">
            Container scan still in progress
        </h4>
    </div>
{{/if}}
</div>

</body>
</html>
